<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <!--  Headings  -->
    <section class="section">
        <div class="container">
            <h1 class="title">
                Welcome to my class
            </h1>
            <p class="subtitle">
                My first website with <strong>Bulma</strong>!
            </p>
        </div>
    </section>

<!-- New List of Course Offered -->
    <section class="section">
        <div class="container">
            <h1>Here are the new courses offered:</h1>
            <div class="container is-fluid">
                <nav class="level">
                    <div class="level-item">
                        {% for course in newcourses %}
                        <div class="column">{{ course }}</div>
                        {% endfor %}
                    </div>
                </nav>
            </div>
        </div>
    </section>

<!-- Old List of Course Offered -->
    <section class="section">
        <div class="container">
            <h1>Here are the old courses offered:</h1>
            <div class="container is-fluid">
                <nav class="level">
                    <div class="level-item">
                        {% for course in courses %}
                        <div class="column">{{ course }}</div>
                        {% endfor %}
                    </div>
                </nav>
            </div>
        </div>
    </section>

<!-- Student List  -->
    <section class="section">
        <div class="container">
            <h1>Classlist:</h1>
            <div class="container is-fluid">
                <nav class="level">
                    <div class="level-item">
                        {% for student in students %}
                        <div class="column">{{ student.first}} {{ student.last  }}</div>
                        {% endfor %}
                    </div>
                </nav>
            </div>
        </div>
    </section>

    <!-- <form method="get" action="/student">
        <button type="submit"> Back to Flights</button>
    </form> -->

</body>

</html>